body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: red;
}
h6 {
  color: deeppink;
}
.parrafo {
  color: red;
}
footer {
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  color: greenyellow;
}
